body {
    background: #FDFDFD;
    padding: 0px;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
    font-family: 'Poppins', sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    font-weight: 500;
    font-style: normal;
    }
p{
    margin: 0px;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Black */

color: #000000;

}